<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css"> <!-- External CSS -->
</head>
<body>
    <div class="container">
        <section class="imageContainer">
            <img src="./images/fire extinguisher_1.jpg" alt="Fire extinguisher">
            <img src="./images/fire extinguisher_2.jpg" alt="Fire extinguisher">
        </section>
        <p>
            A fire extinguisher is a handheld active fire protection device usually filled with a dry or wet chemical used to
            extinguish or control small fires, often in emergencies. It is not intended for use on an out-of-control fire, such as
            one which has reached the ceiling, endangers the user (i.e., no escape route, smoke, explosion hazard, etc.), or
            otherwise requires the equipment, personnel, resources or expertise of a fire brigade. Typically, a fire extinguisher
            consists of a hand-held cylindrical pressure vessel containing an agent that can be discharged to extinguish a fire.
            Fire extinguishers manufactured with non-cylindrical pressure vessels also exist but are less common.
            <br> <br>
            There are two main types of fire extinguishers: stored-pressure and cartridge-operated. In stored pressure units, the
            expellant is stored in the same chamber as the firefighting agent itself. Depending on the agent used, different
            propellants are used. With dry chemical extinguishers, nitrogen is typically used; water and foam extinguishers
            typically use air. Stored pressure fire extinguishers are the most common type. Cartridge-operated extinguishers contain
            the expellant gas in a separate cartridge that is punctured before discharge, exposing the propellant to the
            extinguishing agent. This type is not as common, used primarily in areas such as industrial facilities, where they
            receive higher-than-average use. They have the advantage of simple and prompt recharge, allowing an operator to
            discharge the extinguisher, recharge it, and return to the fire in a reasonable amount of time.
        </p>
    </div>
    <img id="bg-img" src="./images/fire extinguisher_4.jpg" alt="backgroundImg">
</body>
</html>