*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding: 20px;
}
h1{
    margin-left: 17px;
}
.blue {
    color: blue;
}

/* Attribute selectors */
p[class^=phase]{
    padding: 10px;
    margin: 5px;
}

/* Pseudo-class */
.blue:hover{
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

/* Tree-structural pseudo-class */
.container p:last-child {
    color: red;
    text-align: center;
}

/* Pseudo-element */
h1::before{
content:'';
height: 20px;
border: 3px solid brown;
margin-right: 10px;
}

/* Child combinator */
.phase2>span,
.phase3>span,
.phase4>span,
.phase5>span {
    color: #3366CC;
    font-weight: 600;
}

/* Adjacent Sibling Selector */
p + h2{
    margin: 0 0 0 12px;
    color: black;
    font-size: 24px;
    font-weight: 600;
    /* border: 2px solid; */
}
h2 + h4 {
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
}

/* General Sibling Selector */
h1 ~ p{
    font-size: 17px;
}